.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active {
  border-radius: 5px;
  color: white;
  background-color: rgb(27, 27, 27);
}
.totalUsage_parent{
  width: 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .totalUsage_parent {
    width: 100%;
    margin: 0 auto;
  }
}
/* Styles for Line Chart */
canvus {
  width: 400px;
  height: 200px;
}
/* Styles for Total Usage Table */
